<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <h4>
      {{ myName }}
    </h4>
      
        <b-row class="justify-content-md-center">
          <b-col cols="12" md="auto">
            <b-form>
              <b-form-group id="exampleInputGroup1"
                            label="Filtro:"
                            label-for="exampleInput1"
                            description="Digite um nome.">
                <b-form-input id="exampleInput1"
                              type="email"
                              v-model="myInput" 
                              @input="filteredFirebase"
                              placeholder="ex: chris">
                </b-form-input>
              </b-form-group>
            </b-form>
          </b-col>
        </b-row>
        <b-row class="justify-content-md-center">
          <b-col cols="6">
            <b-table striped hover :fields="camps" :items="filtered"></b-table>
          </b-col>
        </b-row>
    
    <!-- <router-view/> -->
  </div>
</template>

<script>

import { namesRef } from './firebase'

export default {
  data: () => ({
    myInput: '',
    data: [],
    camps:{
      'name.first':{
        label: 'Nome',
        key: 'name.first'
      },
      gender:{
        label: 'Sexo',
        sortable: true
      }
    }
  }),
  computed:{
    myName(){
      this.$store.dispatch('setUser',this.myInput)
      return this.$store.state.user
    },
    names(){
      return this.results.filter
    },
    filtered(){
      let name = new RegExp(this.myInput,'i')
      if (name) {
        return this.results.filter(x => name.test(x.name.first)? x : false)
      } else {
        return this.results
      }
    }
  },
  firebase:{
    results: namesRef,
  },
  methods:{
    filteredFirebase(){
      
      // this.$firebaseRefs = this.$firebaseRefs.results.orderByChild('name/first')
      // return this.$firebaseRefs.results
    }
  },
  mounted(){
    
  }
}
</script>


<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

ul{
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  list-style: none;
  padding: 0;
}
</style>
